@font-face {
    font-family: SourceSansPro; 
    src: url("../fonts/SourceSansPro-Light.ttf"); 
}

$font-stack: 'SourceSansPro', Helvetica, sans-serif;
$primary-color: #333;

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	font: 100% $font-stack;
  	color: $primary-color;
  	
}

.main {	
	margin: 0;
	padding-top: 70px;
}

.main:before,
.main:after {
	content: " ";
	display: table;
}

.main:after {
	clear: both;
}

.main {
	*zoom: 1;
}


/*------HEADER-----*/
header {
	position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    width: 100%;
    height: 70px;
    margin: 0;
    border-bottom: 2px solid #000;
    background-color: #fff;
    background: url(..//images/bg/agsquare.png) repeat;
}

.logo {
	float: left;
	margin-top: 12.5px;
	margin-left: 5%;
}

.logo_ozex {
	height: 45px;

}

.nav {
	float: right;
	margin: 0 5% 0 0;
	padding-left: 0;
	
	

	li {
		display: inline-block;
		list-style: none;
	}

	a {
		text-decoration: none;
		color: #000;
		padding: 23px 10px;
		display: inline-block;
		transition: all 0.2s ease-in-out 0s;
	}

 	a:link, a:visited {
		color:  #000;
	}

 	a:focus,  a:hover,  a:active  {
		background-color: #ddd;
		border-bottom: 4px solid #000;
	}

	@media screen and (max-width: 650px) {
	
	float: none;
	margin: 0;
	margin-top: 70px;
.showing {display: block;}
	li {
		width: 100%;
		text-align: left;
		border-bottom: 1px solid #000;
		background-color: #fff;
    	background: url(..//images/bg/agsquare.png) repeat;
    	display: none;
	}

	 a {
	 	display: block;
	 	width: 100%;
	 	padding: 10px 0 10px 7%;
	 	font-size: 120%;
	 }

	 a:focus,  a:hover,  a:active  {
		background-color: #ddd;
	}


  }

}



.menu {
	position: absolute;
	top: 5px;
	right: 5%;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	color: #000;
	display: none;
	@media screen and (max-width: 650px) {
		display: block;
	}
}

.menu:hover {
	background-color: #ddd;
}



/*------DOMOV-----*/

#domov {
	background: url(..//images/bg/agsquare.png) repeat;
	height: 100%;
	width: 100%;
	padding: 3%;
	
}


.fotka_ozex {
	background: url(../images/ozex/budova-ozex.jpg) no-repeat center;
	background-size: cover;
	height: 250px;
	max-width: 1200px;
    margin: 0 auto;
    img {
    	position: relative;
    width: 25%;
    top: 30%;
    left: 38%;
    }

	@media screen and (max-width: 900px) {
		img {
		    width: 40%;
			top: 31%;
			left: 30%;
		}
	}

	 @media screen and (max-width: 650px) {
    	img {
		    width: 50%;
			top: 32%;
			left: 23%;
		}
  }

}

.plaza {
	max-width: 1200px;
	margin: 0 auto;
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;

  


  @media screen and (max-width: 650px) {
    -ms-flex-flow: column;
        flex-flow: column;
  }

}

.plaza>div {
	cursor: pointer;
	background-size: cover;
	display: inline-block;
    height: 300px;

    a {
    	text-decoration: none;
    }
    

    p {
    	display: none;
    	color: #fff;
    	font-size: 130%;
    	padding: 2%;
    	text-align: center;
		
		
		@media screen and (max-width: 650px) {
			display: block!important;
    }
}
}





.beach {
	background: url(../images/plaza/beach/beach-foto.jpg) no-repeat center;	
	margin-right: 1%;
	width: 32.66%;
	img {
		
  	width: 65%;
    position: relative;
    top: 44%;
    left: 15%;
	
	

  }

  	@media screen and (max-width: 900px) {
		    img {
		  	width: 80%;
			top: 50%;
			left: 9%;
		  }
  }

	@media screen and (max-width: 650px) {
    width: 100%;
	margin-right: 0;
	img {
		    width: 61%;
			top: 5%;
			left: 18%;
		}
  }
}

.residence {
	background: url(../images/plaza/residence/residence-foto.jpg) no-repeat center;
	width: 32.66%;
	
	img {
		
		width: 80%;
    position: relative;
    top: 60%;
    left: 10%;
	}

	p {
		margin-top: 12%;
	}

	@media screen and (max-width: 900px) {
		    img {
				width: 85%;
				top: 66%;
				left: 8%;
		  }
		}

    @media screen and (max-width: 650px) {
    width: 100%;
    margin-top: 10px;
    img {
		    width: 75%;
			top: 11%;
			left: 13%;
		}

  }

}

.villa {
	background: url(../images/plaza/villa/villa-foto.jpg) no-repeat center;
	width: 32.66%;
	margin-left: 1%;
	img {
		
		position: relative;
    top: 48%;
    left: 9%;
    width: 87%;
	}

	@media screen and (max-width: 900px) {
		    img {
		  	top: 59%;
			left: 5%;
			width: 93%;
		  }
		}

	@media screen and (max-width: 650px) {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    img {
		    top: 6%;
			left: 9%;
			width: 82%;
		}
  }
}


.hover {
	
		top: 8%!important;
	transition: all 0.5s ease-in-out 0s!important;	
	}


/*------PROFIL-----*/
#profil {
	color: #fff;
	background: url(../images/ozex/oblek2.jpg) no-repeat center;;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
}

#profil h2 {
	text-align: center;
	color: #fff;
	font-size: 200%;
	@media screen and (max-width: 650px) {
    font-size: 140%;
  }

}

#profil p {
	font-size: 140%;
	max-width: 1200px;
	padding: 10px 7%;
	margin: 0 auto;
	text-align: center;
	@media screen and (max-width: 650px) {
    font-size: 120%;
    width: 90%;
    padding: 10px 5%;

  }
	
}


/*------KONTAKT-----*/
#kontakt {
	width: 100%;
	padding: 30px 10%;
	margin: 0 auto;
	color: #fff;
	background-color: #222;
    background: url(..//images/bg/black_lozenge.png) repeat;

	h2 {
		margin-top: 0;
		padding-left: 10%;
		font-size: 135%;
	}
	

}



.row{
	padding-left: 10%;
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;



  @media screen and (max-width: 650px) {
    -ms-flex-flow: column;
        flex-flow: column;
  }
}

.row>div {
    width: 30%;
    font-size: 115%;

    ul {
    	margin: 0;
		padding-left: 0;
		list-style: none;

    }

	@media screen and (max-width: 650px) {
    width: 100%;
    margin-top: 20px;
  }
}

footer {
	width: 100%;
	padding: 5px 10%;
	background-color: #333;
	text-align: right;

	a {
		display: block;
		color: #eee;
		text-decoration: none;
		font-size: 85%;
		
	}
}






.back-to-top {
	background-color: #bbb;
	position: fixed;
	bottom: 27px;
	right: 4%;
	z-index: 10;
	display: block;
	width: 40px;
	height: 40px;
	border-bottom: 4px solid #000;
	text-align: center;
	color: #000;
	transition: all 0.2s ease-in-out 0s;
	.fa {
	position: relative;
    bottom: 7px;
}
}

.back-to-top:hover {
	background-color: #fff;
}

